#nav{
    list-style:none;
    margin:0;
    padding:0;
    background-color:cornflowerblue;
    height:40px;
    line-height:40px
}
#nav li{
    float:left;
}
#nav li a{
    display:block;
    padding:0px 40px;
    text-decoration:none;
    color:white;
}

#nav2{
    list-style:none;
    margin:0;
    padding:0;
    background-color:cornflowerblue;
    height:40px;
    line-height:40px
}
#nav2 li{
    float:none;
    background-color:cornflowerblue;
}
#nav2 li a{
    display:block;
    padding:0px 40px;
    text-decoration:none;
    color:white;
}

#nav ul{
    display:none;
}
#nav li:hover ul{
    display:block;
}
#nav ul{
    position:absolute;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    background-color:lightskyblue;
}
h2{
    text-align:center;
    margin:0;
    padding:0;
    color:white;
    background-color:cornflowerblue;
}
